# Docker Compose Port Configurations (Change in your local .env to fix port conflicts)
COMPOSE_PORT_POSTGRES=5432
COMPOSE_PORT_REDIS=6379
COMPOSE_PORT_SOROBAN=8000
COMPOSE_PORT_BACKEND=3000
COMPOSE_PORT_ML=8001
COMPOSE_PORT_EXPO=8081