{
  "openapi": "3.1.0",
  "info": {
    "title": "SubTrackr API",
    "version": "1.0.0",
    "description": "API specification for SubTrackr subscription management, notifications, and payments.",
    "contact": {
      "name": "SubTrackr Support",
      "email": "support@subtrackr.io"
    }
  },
  "servers": [
    {
      "url": "https://api.subtrackr.io/v1",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:3000/v1",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Authenticate user",
        "operationId": "loginUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "expiresIn": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "summary": "List subscriptions",
        "operationId": "listSubscriptions",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of active user subscriptions"
          }
        }
      },
      "post": {
        "summary": "Create subscription",
        "operationId": "createSubscription",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "201": {
            "description": "Subscription created"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
