openapi: 3.0.3
info:
  title: SubTrackr Subscription Management API
  version: "1.0.0"
  description: |
    The SubTrackr API enables merchants to create and manage subscriptions,
    process payments, configure webhooks, and customise the white-label
    subscription UI for their customers.

    ## Authentication
    All endpoints require a Bearer token in the `Authorization` header.

    ## Versioning
    The current stable version is `v1`. Include `/v1/` in every path.
    Breaking changes will be introduced under `/v2/` with a 6-month deprecation window.

    ## Rate limiting
    Default: **60 requests / minute** per merchant API key.
    Burst allowance: **10 requests / second**.
    Rate-limit headers are returned on every response:
    - `X-RateLimit-Limit`
    - `X-RateLimit-Remaining`
    - `X-RateLimit-Reset` (Unix timestamp)
  contact:
    name: SubTrackr Developer Support
    email: api@subtrackr.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.subtrackr.io/v1
    description: Production
  - url: https://sandbox.subtrackr.io/v1
    description: Sandbox (test environment, no real charges)

tags:
  - name: Subscriptions
    description: Create, read, update, cancel, and resume subscriptions
  - name: Plans
    description: Subscription plan catalogue management
  - name: Billing
    description: Invoices, charges, and payment methods
  - name: Customers
    description: Customer profile management
  - name: Webhooks
    description: Webhook endpoint registration and delivery logs
  - name: Themes
    description: White-label UI theme management

# ---------------------------------------------------------------------------
# Security
# ---------------------------------------------------------------------------
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  # -------------------------------------------------------------------------
  # Reusable schemas
  # -------------------------------------------------------------------------
  schemas:

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: subscription_not_found
        message:
          type: string
          example: No subscription with id sub_abc123 was found.
        details:
          type: object
          additionalProperties: true

    PaginatedMeta:
      type: object
      properties:
        total:    { type: integer, example: 142 }
        page:     { type: integer, example: 1 }
        limit:    { type: integer, example: 20 }
        hasNext:  { type: boolean, example: true }
        hasPrev:  { type: boolean, example: false }

    SubscriptionStatus:
      type: string
      enum: [active, paused, cancelled, past_due, trialing, expired]

    BillingCycle:
      type: string
      enum: [monthly, yearly, weekly, custom]

    Plan:
      type: object
      required: [id, name, price, currency, billingCycle]
      properties:
        id:           { type: string, example: plan_monthly_pro }
        name:         { type: string, example: Pro Monthly }
        description:  { type: string, example: Full access with monthly billing }
        price:
          type: number
          format: float
          example: 29.99
        currency:     { type: string, example: USD }
        billingCycle: { $ref: '#/components/schemas/BillingCycle' }
        trialDays:    { type: integer, example: 14, nullable: true }
        features:
          type: array
          items: { type: string }
          example: ["Unlimited projects", "Priority support", "Analytics"]
        metadata:
          type: object
          additionalProperties: true
        createdAt:    { type: string, format: date-time }
        updatedAt:    { type: string, format: date-time }

    Subscription:
      type: object
      required: [id, customerId, planId, status, currentPeriodStart, currentPeriodEnd]
      properties:
        id:                 { type: string, example: sub_abc123 }
        customerId:         { type: string, example: cus_xyz789 }
        planId:             { type: string, example: plan_monthly_pro }
        status:             { $ref: '#/components/schemas/SubscriptionStatus' }
        currentPeriodStart: { type: string, format: date-time }
        currentPeriodEnd:   { type: string, format: date-time }
        cancelAtPeriodEnd:  { type: boolean, example: false }
        cancelledAt:        { type: string, format: date-time, nullable: true }
        pausedAt:           { type: string, format: date-time, nullable: true }
        resumeAt:           { type: string, format: date-time, nullable: true }
        trialEnd:           { type: string, format: date-time, nullable: true }
        metadata:
          type: object
          additionalProperties: true
        createdAt:          { type: string, format: date-time }
        updatedAt:          { type: string, format: date-time }

    Customer:
      type: object
      required: [id, email]
      properties:
        id:        { type: string, example: cus_xyz789 }
        email:     { type: string, format: email, example: jane@example.com }
        name:      { type: string, example: Jane Doe }
        metadata:
          type: object
          additionalProperties: true
        createdAt: { type: string, format: date-time }

    Invoice:
      type: object
      properties:
        id:             { type: string, example: inv_001 }
        subscriptionId: { type: string, example: sub_abc123 }
        customerId:     { type: string, example: cus_xyz789 }
        amount:         { type: number, format: float, example: 29.99 }
        currency:       { type: string, example: USD }
        status:         { type: string, enum: [draft, open, paid, void, uncollectible] }
        dueDate:        { type: string, format: date-time }
        paidAt:         { type: string, format: date-time, nullable: true }
        lineItems:
          type: array
          items:
            type: object
            properties:
              description: { type: string }
              amount:       { type: number }
              quantity:     { type: integer }

    WebhookEndpoint:
      type: object
      required: [id, url, events]
      properties:
        id:          { type: string, example: whe_001 }
        url:         { type: string, format: uri, example: https://example.com/webhooks/subtrackr }
        events:
          type: array
          items: { type: string }
          example: ["subscription.created", "subscription.cancelled", "invoice.paid"]
        active:      { type: boolean, example: true }
        signingSecret:
          type: string
          description: Returned only on creation. Store it securely.
          example: whsec_abcdefgh1234
        createdAt:   { type: string, format: date-time }

    ThemeColors:
      type: object
      required: [primary, secondary, accent, background, surface, text]
      properties:
        primary:       { type: string, pattern: '^#[0-9a-fA-F]{6}$', example: '#6366f1' }
        secondary:     { type: string, pattern: '^#[0-9a-fA-F]{6}$', example: '#8b5cf6' }
        accent:        { type: string, pattern: '^#[0-9a-fA-F]{6}$', example: '#06b6d4' }
        success:       { type: string, example: '#10b981' }
        warning:       { type: string, example: '#f59e0b' }
        error:         { type: string, example: '#ef4444' }
        background:    { type: string, example: '#0f172a' }
        surface:       { type: string, example: '#1e293b' }
        text:          { type: string, example: '#f8fafc' }
        textSecondary: { type: string, example: '#cbd5e1' }
        border:        { type: string, example: '#334155' }
        overlay:       { type: string, example: 'rgba(15, 23, 42, 0.8)' }

    Theme:
      type: object
      required: [id, name, mode, colors]
      properties:
        id:          { type: string, example: brand-acme }
        name:        { type: string, example: Acme Corp Theme }
        mode:        { type: string, enum: [light, dark] }
        colors:      { $ref: '#/components/schemas/ThemeColors' }
        logoUri:     { type: string, format: uri, nullable: true }
        font:
          type: object
          properties:
            family: { type: string, example: Inter }
            scale:  { type: number, example: 1.0 }
        cssVariables:
          type: object
          additionalProperties: { type: string }
          readOnly: true
          description: Generated CSS custom properties. Read-only; computed by the server.

  # -------------------------------------------------------------------------
  # Reusable responses
  # -------------------------------------------------------------------------
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    UnprocessableEntity:
      description: Validation error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        Retry-After: { schema: { type: integer } }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

# ---------------------------------------------------------------------------
# Paths
# ---------------------------------------------------------------------------
paths:

  # ---- Subscriptions -------------------------------------------------------

  /subscriptions:
    get:
      tags: [Subscriptions]
      summary: List subscriptions
      description: Returns a paginated list of subscriptions, optionally filtered by status or customer.
      parameters:
        - name: status
          in: query
          schema: { $ref: '#/components/schemas/SubscriptionStatus' }
        - name: customerId
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedMeta'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

    post:
      tags: [Subscriptions]
      summary: Create a subscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerId, planId]
              properties:
                customerId:       { type: string }
                planId:           { type: string }
                trialEnd:         { type: string, format: date-time, nullable: true }
                cancelAtPeriodEnd: { type: boolean, default: false }
                metadata:
                  type: object
                  additionalProperties: true
            example:
              customerId: cus_xyz789
              planId: plan_monthly_pro
              trialEnd: "2025-03-01T00:00:00Z"
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /subscriptions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }

    get:
      tags: [Subscriptions]
      summary: Retrieve a subscription
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      tags: [Subscriptions]
      summary: Update a subscription
      description: Supports plan upgrades/downgrades, metadata updates, and trial extension.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                planId:            { type: string }
                cancelAtPeriodEnd: { type: boolean }
                trialEnd:          { type: string, format: date-time }
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Updated subscription
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /subscriptions/{id}/cancel:
    post:
      tags: [Subscriptions]
      summary: Cancel a subscription
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                immediately:
                  type: boolean
                  default: false
                  description: Cancel immediately rather than at period end.
                reason: { type: string }
      responses:
        '200':
          description: Subscription cancelled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /subscriptions/{id}/pause:
    post:
      tags: [Subscriptions]
      summary: Pause a subscription
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resumeAt:
                  type: string
                  format: date-time
                  description: Auto-resume at this timestamp. Omit to pause indefinitely.
      responses:
        '200':
          description: Subscription paused
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  /subscriptions/{id}/resume:
    post:
      tags: [Subscriptions]
      summary: Resume a paused subscription
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Subscription resumed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }

  # ---- Plans ---------------------------------------------------------------

  /plans:
    get:
      tags: [Plans]
      summary: List plans
      parameters:
        - name: active
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Plan' }

    post:
      tags: [Plans]
      summary: Create a plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price, currency, billingCycle]
              properties:
                name:         { type: string }
                description:  { type: string }
                price:        { type: number }
                currency:     { type: string }
                billingCycle: { $ref: '#/components/schemas/BillingCycle' }
                trialDays:    { type: integer }
                features:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Plan created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }

  /plans/{id}:
    get:
      tags: [Plans]
      summary: Retrieve a plan
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Plan' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---- Customers -----------------------------------------------------------

  /customers:
    post:
      tags: [Customers]
      summary: Create a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:    { type: string, format: email }
                name:     { type: string }
                metadata: { type: object, additionalProperties: true }
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }

  /customers/{id}:
    get:
      tags: [Customers]
      summary: Retrieve a customer
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---- Billing / Invoices --------------------------------------------------

  /invoices:
    get:
      tags: [Billing]
      summary: List invoices
      parameters:
        - name: subscriptionId
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [draft, open, paid, void, uncollectible] }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Invoice' }

  /invoices/{id}:
    get:
      tags: [Billing]
      summary: Retrieve an invoice
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invoice' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---- Webhooks ------------------------------------------------------------

  /webhooks:
    get:
      tags: [Webhooks]
      summary: List webhook endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/WebhookEndpoint' }

    post:
      tags: [Webhooks]
      summary: Register a webhook endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url:
                  type: string
                  format: uri
                events:
                  type: array
                  items: { type: string }
                  example: ["subscription.created", "invoice.paid"]
      responses:
        '201':
          description: Webhook endpoint created (signingSecret returned only here)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookEndpoint' }

  /webhooks/{id}:
    delete:
      tags: [Webhooks]
      summary: Delete a webhook endpoint
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
        '404': { $ref: '#/components/responses/NotFound' }

  # ---- Themes --------------------------------------------------------------

  /themes:
    get:
      tags: [Themes]
      summary: List merchant themes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Theme' }

    post:
      tags: [Themes]
      summary: Create or replace a theme
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Theme' }
            example:
              id: brand-acme
              name: Acme Corp
              mode: dark
              colors:
                primary: '#ff6b35'
                secondary: '#004e89'
                accent: '#1a936f'
                success: '#10b981'
                warning: '#f59e0b'
                error: '#ef4444'
                background: '#0f172a'
                surface: '#1e293b'
                text: '#f8fafc'
                textSecondary: '#cbd5e1'
                border: '#334155'
                overlay: 'rgba(15, 23, 42, 0.8)'
              logoUri: 'https://cdn.acme.com/logo.png'
      responses:
        '201':
          description: Theme created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Theme' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }

  /themes/{id}:
    get:
      tags: [Themes]
      summary: Retrieve a theme
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Theme' }
        '404': { $ref: '#/components/responses/NotFound' }

    delete:
      tags: [Themes]
      summary: Delete a theme
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Deleted
        '404': { $ref: '#/components/responses/NotFound' }
