openapi: 3.1.0
info:
  title: SubTrackr Soroban Contract API
  description: |
    OpenAPI 3.1 representation of the SubTrackr Soroban smart contract interface.
    These are not REST endpoints but Soroban contract invocations via RPC.
    Each path represents a contract function invoked through `soroban contract invoke`.
  version: 2.0.0
  contact:
    name: SubTrackr
    url: https://github.com/Smartdevs17/SubTrackr

servers:
  - url: https://soroban-testnet.stellar.org
    description: Stellar Testnet RPC
  - url: https://soroban.stellar.org
    description: Stellar Mainnet RPC

paths:
  /initialize:
    post:
      summary: Initialize contract
      description: Set the contract admin. Must be called once before any other function.
      tags: [Initialization]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [admin]
              properties:
                admin:
                  type: string
      responses:
        '200':
          description: Contract initialized

  /create_plan:
    post:
      summary: Create subscription plan
      description: Create a new subscription plan. Requires merchant authorization.
      tags: [Plan Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchant, name, price, token, interval]
              properties:
                merchant:
                  type: string
                name:
                  type: string
                price:
                  type: integer
                  format: int128
                token:
                  type: string
                interval:
                  type: string
                  enum: [Weekly, Monthly, Quarterly, Yearly]
      responses:
        '200':
          description: Plan created
          content:
            application/json:
              schema:
                type: integer
                format: uint64

  /deactivate_plan:
    post:
      summary: Deactivate plan
      description: Deactivate a plan. Existing subscribers continue. Requires merchant authorization.
      tags: [Plan Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchant, plan_id]
              properties:
                merchant:
                  type: string
                plan_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Plan deactivated
        '403':
          description: Not authorized

  /subscribe:
    post:
      summary: Subscribe to plan
      description: Subscribe to an active plan. First payment processed immediately.
      tags: [Subscription Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscriber, plan_id]
              properties:
                subscriber:
                  type: string
                plan_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Subscription created
          content:
            application/json:
              schema:
                type: integer
                format: uint64
        '400':
          description: Validation error

  /cancel_subscription:
    post:
      summary: Cancel subscription
      description: Permanently cancel an active or paused subscription.
      tags: [Subscription Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscriber, subscription_id]
              properties:
                subscriber:
                  type: string
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Subscription cancelled
        '403':
          description: Not authorized

  /pause_subscription:
    post:
      summary: Pause subscription
      description: Temporarily pause billing on an active subscription.
      tags: [Subscription Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscriber, subscription_id]
              properties:
                subscriber:
                  type: string
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Subscription paused
        '400':
          description: Invalid state

  /resume_subscription:
    post:
      summary: Resume subscription
      description: Resume a paused subscription.
      tags: [Subscription Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscriber, subscription_id]
              properties:
                subscriber:
                  type: string
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Subscription resumed

  /charge_subscription:
    post:
      summary: Charge subscription
      description: Process a due payment. Permissionless - anyone can call.
      tags: [Payment Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_id]
              properties:
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Payment processed
        '400':
          description: Not due or inactive

  /request_refund:
    post:
      summary: Request refund
      description: Submit a refund request for a subscription.
      tags: [Payment Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_id, amount]
              properties:
                subscription_id:
                  type: integer
                  format: uint64
                amount:
                  type: integer
                  format: int128
      responses:
        '200':
          description: Refund requested
        '400':
          description: Validation error

  /approve_refund:
    post:
      summary: Approve refund
      description: Admin approves a pending refund. Transfers tokens to subscriber.
      tags: [Payment Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_id]
              properties:
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Refund approved and processed
        '400':
          description: No pending refund

  /reject_refund:
    post:
      summary: Reject refund
      description: Admin rejects a pending refund request.
      tags: [Payment Processing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_id]
              properties:
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Refund rejected
        '400':
          description: No pending refund

  /get_plan:
    post:
      summary: Get plan details
      description: Query a plan by ID. Read-only.
      tags: [Queries]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan_id]
              properties:
                plan_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'

  /get_subscription:
    post:
      summary: Get subscription details
      description: Query a subscription by ID. Read-only.
      tags: [Queries]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscription_id]
              properties:
                subscription_id:
                  type: integer
                  format: uint64
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /get_user_subscriptions:
    post:
      summary: Get user subscriptions
      description: Get all subscription IDs for a subscriber. Read-only.
      tags: [Queries]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscriber]
              properties:
                subscriber:
                  type: string
      responses:
        '200':
          description: List of subscription IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: uint64

  /get_merchant_plans:
    post:
      summary: Get merchant plans
      description: Get all plan IDs for a merchant. Read-only.
      tags: [Queries]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [merchant]
              properties:
                merchant:
                  type: string
      responses:
        '200':
          description: List of plan IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: uint64

  /get_plan_count:
    post:
      summary: Get total plan count
      tags: [Queries]
      responses:
        '200':
          description: Total plans
          content:
            application/json:
              schema:
                type: integer
                format: uint64

  /get_subscription_count:
    post:
      summary: Get total subscription count
      tags: [Queries]
      responses:
        '200':
          description: Total subscriptions
          content:
            application/json:
              schema:
                type: integer
                format: uint64

components:
  schemas:
    Plan:
      type: object
      properties:
        id:
          type: integer
          format: uint64
        merchant:
          type: string
        name:
          type: string
        price:
          type: integer
          format: int128
        token:
          type: string
        interval:
          type: string
          enum: [Weekly, Monthly, Quarterly, Yearly]
        active:
          type: boolean
        subscriber_count:
          type: integer
          format: uint32
        created_at:
          type: integer
          format: uint64

    Subscription:
      type: object
      properties:
        id:
          type: integer
          format: uint64
        plan_id:
          type: integer
          format: uint64
        subscriber:
          type: string
        status:
          type: string
          enum: [Active, Paused, Cancelled, PastDue]
        started_at:
          type: integer
          format: uint64
        last_charged_at:
          type: integer
          format: uint64
        next_charge_at:
          type: integer
          format: uint64
        total_paid:
          type: integer
          format: int128
        refund_requested_amount:
          type: integer
          format: int128

    ContractError:
      type: object
      properties:
        error:
          type: string

    AuditAnchorInput:
      type: object
      properties:
        chain_head_hash:
          type: string
        chain_length:
          type: integer
      required: [chain_head_hash, chain_length]

    AuditAnchorResponse:
      type: object
      properties:
        chain_head_hash:
          type: string
        chain_length:
          type: integer
        timestamp:
          type: integer
        anchor_nonce:
          type: integer

tags:
  - name: Initialization
    description: One-time contract setup
  - name: Plan Management
    description: Create and manage subscription plans
  - name: Subscription Management
    description: Subscribe, cancel, pause, and resume subscriptions
  - name: Payment Processing
    description: Charge subscriptions, request and manage refunds
  - name: Queries
    description: Read-only data retrieval
